/* Login.css */

/* Style for the login container */
.Auth_authContainer {
  text-align: center;
  margin-top: 100px;
}

/* Style for the heading */
.Heading_heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for the input fields */
.Input_group {
  margin-bottom: 20px;
}

.Input_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease; /* Add a smooth transition effect for the border color */
}

/* Style for the input fields on hover */
.Input_input:hover {
  border-color: #007bff; /* Change the border color on hover */
}

/* Style for the submit button */
.LoginForm_button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease; /* Add a smooth transition effect for the background color */
}

/* Style for the submit button on hover */
.LoginForm_button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

/* Style for the "Don't have an account" link */
.Auth_link__CBHfd {
  margin-top: 20px;
}

.Auth_linkText {
  text-decoration: none;
  color: #007bff;
  margin-left: 5px;
}

/* Style for the "or" divider */
.Auth_or {
  margin-top: 20px;
}

.Auth_line {
  border-top: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
}
